@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
*{
    margin: 0;
    padding: 0;
    

}
p{
    position: absolute;
    top: 40%;
    left: 45%;
    color: #fff;
    text-shadow: #fff 0px 0px 5px;
}
#demo{
    
    position:absolute;
    top: 45vh;
    left: 40%;
    font-size: 30px;
    color: #fff;
    text-shadow: #fff 0px 0px 5px;
}
body{
    background: linear-gradient(#0005,#0005) ,url('images/pexels-aleksandar-pasaric-2078071.jpg');
    background-size: 100% 120%;
    background-repeat: no-repeat;
    overflow-x: hidden;
    font-family: 'Skranji', cursive;
}
#header{
    display: none;
    
    width:100%;
    height: 8vh;
    z-index: 1;

}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;

    

}


.nav-links{
    position: absolute;
    z-index: 1;
        right: 0px;
        height: 100vh;
        top:0;
        background: linear-gradient(rgba(69, 70, 70, 0.822),rgba(44, 44, 44, 0.788)) ;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
}
.burger
    {
        display: block;
        cursor: pointer;
        margin-right: 2em;
        z-index: 2;
    }
    .burger div
{
    width: 25px;
    height: 5px;
    background-color: #ffffff;
    margin: 5px;
    transition: all 0.3s ease;
}   
    .nav-active
    {
        transform: translateX(0%);
    }
    @keyframes nav{
        from
        {
            opacity: 0;
            transform: translateX(50px);
        }
        to
        {
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .toggle .line1
    {
        transform: rotate(-45deg) translate(-5px,9px);
    
    }
    .toggle .line2
    {
        opacity: 0;
    
    }
    .toggle .line3
    {
        transform: rotate(45deg) translate(-5px,-9px);
    
    }


.welcome{
    display: none;
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-shadow: #fff 0px 0px 5px;
    font-size: 32px;
}
.welcome h1{
    margin-bottom: 2em;
    display: none;
}